<div class="container">
<form align="center">
    <h1 style="font-size:40px;">Login</h1>
    <p  style="font-size:18px;"> Enter the registered E-mail address and the Password!</p>
   
 E-mail <input type="text" placeholder="Enter email address" required style="padding-right: 60px;margin-left: 15px;" ><br><br>
Password <input type="password" placeholder="Enter password" required style="padding-right: 60px;margin-left: 2px" ><br>
  <br> <button class="btn btn-primary" style="font-size:20px">Login</button>

</form>
</div>