<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" style="color:aqua;font-family: 'Times New Roman', Times, serif;font-size:30px;">Event Management</a>
  <ul class = "navbar-nav">
      <li class="nav-item">
        <a routerLink="signin" class="nav-link" style="color:rgb(224, 241, 241);font-style:italic;   font-family: 'Times New Roman', Times, serif;font-size:20px;">Signin</a>
      </li>
  </ul>
</nav>
<div class = "container">
  <router-outlet></router-outlet>
</div>