
<div class="container">
    
    <form>
        
        <h1 style="font-size:40px;padding-left:250px;">Register</h1>
        <p  style="font-size:18px;padding-left:150px;"> Enter the valid E-mail address and the Password</p>
    <label> E-mail</label> <input type="text" placeholder="Enter email address" required style="padding-right: 60px;margin-left: 15px;" ><br><br>
    <label> Reconfirm E-mail</label><input type="text" placeholder="Enter email address" required style="padding-right: 60px;margin-left: 15px;" ><br><br>
    <label> Password</label><input type="text" placeholder="Enter Password" required style="padding-right: 60px;margin-left: 15px;" ><br><br>
      
      <br><span style="font-size:20px;margin-left:300px;"><button style="font-size:20px;">Register</button></span>
    
    </form>
    </div>