<div class="image">
  <div class="container">
    <h1 class="d-flex justify-content-center" style="color: rgb(4, 110, 4)">
      AADHAR APPLICATION
    </h1>
    <a
      type="button"
      class="d-inline btn btn-outline-success"
      routerLink="/userlogin"
      style="size:25px"
    >
      Citizen Login</a
    >&nbsp;&nbsp;New User? <a routerLink="/register">Register Here</a>
    <br />
    <br />
    <a
      type="button"
      class="d-inline btn btn-outline-success"
      routerLink="/adminlogin"
    >
      Admin Login
    </a>
  </div>
</div>
